#root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#App {
    width: 300px;
}

#timer-length {
    display: flex;
}

.length-control {
    width: 50%;
    text-align: center;
}

#break-length, #session-length {
    display: inline;
    padding-right: 3px;
    padding-left: 3px;
}

#timer {
    text-align: center;
}